<%- include ("./partials/header") %> 
    <div style="margin-top: 15vh; width:100vw">
      <h1 class="title text-center" style="text-align: center">
        Active Sessions
      </h1>
      <div class="card__container">
        <% for(let user of users) {%>

        <div
          class="ui card m-3 card__container__card"
          style="margin: 2rem 1rem"
        >
          <div class="content">
            <i class="right floated ui id badge icon"></i>

            <div class="header">
              <h3 class="mb-3">User: <%= user.user.username %></h3>
              <p class="mb-3">Session Start: <%= user.start_time %></p>
              Log out current user
            </div>

            <div class="description">
              Remove the user and delete the network here.
            </div>
          </div>
          <div class="extra content">
            
            <form action="/admin/remove_network" class="ui form" method="POST">
              <input class="ui basic red button" type="text" style="display: none;" value=<%= user._id %> name="removeUser" />
              <input id = 'removeButton' class="ui basic red button" type="submit" value="Remove" data-test="<%= user.user._id %>" />

            </form>
          </div>
        </div>

        <% } %>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  const removeButtons = document.querySelectorAll('#removeButton');
  removeButtons.forEach(removeButton=>{
    removeButton.addEventListener('click', ()=>{
      const userId = removeButton.dataset.test
      socket.emit('removeUser',{userId})
    })
  })
</script>

  </body>
</html>
