<%- include ("./partials/header") %>
<script src="/socket.io/socket.io.js"></script>
  
<div id="mydivid" style="display: none;" data-test="<%= user._id %>" ></div>
<div id="mydivadmin" style="display: none;" data-test="<%= user.isAdmin %>" ></div>

<div class="ui main container segment">
    <div class="ui celled ordered list" id="alist">
        
      </div>

    <div class="ui segment" id="belowlist">

        <div class="ui active centered inline loader" id="jhoom"></div>
        
    </div>
  </div>


  <script type="text/javascript">

    function streaming(){
    const source = new EventSource('<%=endpoint%>');

    source.addEventListener('message', message => {
     var data= JSON.parse(message.data);

     console.log(data);
     
     if(data.text==="end\n")
     {
     
         source.close();
         

         $('#jhoom').remove();
         $('#belowlist').append('<a href="<%=redirect%>"><button class="ui primary fluid button" >Go</button></a>');

   

         
         
         
         
         
         
         
         
         
         
     }
     
     else{

     
        var listItem=$('<div class="item"></div>').text(data.text);
     $('#alist').append(listItem);
     


     
     }


    });
}

document.addEventListener("DOMContentLoaded", streaming);
    
    
  </script>
    
   
<script>
  var socket = io();

  const userId = document.getElementById('mydivid').dataset.test
  const userIsAdmin = document.getElementById('mydivadmin').dataset.test


  socket.emit('successfull_login',{userId , userIsAdmin})
  
  socket.on('logoutUser',()=>{
    console.log('Logout')
    document.getElementById('logout').click()
  })
</script>
   <%- include ("./partials/footer") %>